body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: 0.5px solid rgb(150, 125, 125);
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width:100%; 
  margin:0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black; 
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border:0;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: center; 
}

.past {
  background-color: #d3d3d3;
  color:black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 0 px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Following styles were newly created*/
#display-planner{
  width:80%;
}

#display-planner div{
  height:50px;
}

/* Following class was not used as I didnot want the border to have the different colour on the text area*/
.comment-input
{
  border: 0.5px solid rgb(214, 189, 189);
}